name: Azure Bicep Infra

on: [push]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:

      # Checkout code
    - uses: actions/checkout@main

      # Log into Azure
    - uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

      # Deploy Bicep file
    - name: deploy
      uses: azure/arm-deploy@v1
      with:
        subscriptionId: e0b9cada-61bc-4b5a-bd7a-52c606726b3b
        resourceGroupName: jseijas_students_1
        template: ./main.bicep
        parameters: parameters.json
        failOnStdErr: false
